# comments and whitespace stripped by deployment tool
[S3E]
MemSize=412992000
MemSizeDebug=412992000
[GX]
VertCacheSize=80000
DataCacheSize=800000
[2D]
MaxBatch = 2000
[GL]
EGL_DEPTH_SIZE = 24
EGL_BUFFER_SIZE  = 2000
AllowNoDepthBufferClear=1
[Util]
MemMgrMaxAllocWarning=0
[s3e]
SysAppVersion=0.0.1
SysAppCaption="AmazingMaze"
