<config platform="project" template="project (default)">Created: Sun Jan 25 17:20:12 2015
By: Jeffrey
Using Template: project (default)

&lt;description to go here><option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="AmazingMaze" fromDef="true"/>
    <option name="caption" value="AmazingMaze" fromDef="true"/>
    <option name="provider" value="Jeffrey" fromDef="true"/>
    <option name="copyright" value="(C) Jeffrey" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
