<config platform="project" template="project (default)">Created: Sun Jan 25 17:20:12 2015
By: Jeffrey
Using Template: project (default)

&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="AmazingMaze" fromDef="true" name="name"/>
    <option value="AmazingMaze" fromDef="true" name="caption"/>
    <option value="Jeffrey" fromDef="true" name="provider"/>
    <option value="(C) Jeffrey" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
