<config template="project (default)" platform="project">Created: Sun Jan 25 17:20:12 2015
By: Jeffrey
Using Template: project (default)

&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="AmazingMaze" name="name"/>
    <option fromDef="true" value="AmazingMaze" name="caption"/>
    <option fromDef="true" value="Jeffrey" name="provider"/>
    <option fromDef="true" value="(C) Jeffrey" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
